<div class="max-w-lg m-auto">
    <h1 class="text-3xl font-bold mb-6 text-white">Edit your Job</h1>
        <%= render partial: "partials/job_edit" %> 

        <% if current_user.id == @job.users.first.id %>
        <div class="md:flex md:items-center mt-4">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
              <%= button_to "Delete Job", job_path, method: :delete, class: "btn" %>
            </div>
        <% end %>
        
</div>

